<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>View Order</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <style>
            .box-border {
                background-color: white;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
        </style>
    </head>

    <body>
        <!--header-->
        <div class="headerpage"></div>
        <!--header over-->

        <!--body-->

        <div class="container p-4">
            <h2>Order Details</h2>
            <!--            <form id="rental-form">-->
            <span th:text="${orderId}" id="orderId" style="display: none"></span>
            <!--            <input type="hidden" name="id" th:value="${orderId}">-->
            <div class="row box-border p-1 mt-3">
                <div class="col-12">
                    <div class="mt-3">
                        <h5>Bill Status</h5>
                        <table class="table" style="table-layout: fixed">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 25%">Before</th>
                                    <th scope="col" class="text-center" style="width: 50%">Bill</th>
                                    <th scope="col" style="width: 25%">Rental</th>
                                </tr>
                            </thead>
                            <tbody id="billContent">
                                <tr>
                                    <th class="" style="width: 15%">2021-Mar-21</th>
                                    <td class="col-6"
                                        style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis; width: 60%;">
                                        <!--                                        <form th:action="@{/uploadBillImg}" class="mt-1 uploadImgForm" method="post"-->
                                        <form th:action="@{/uploadBillImg}" class="mt-1 uploadImgForm" method="post"
                                              enctype="multipart/form-data"
                                              id="uploadImgForm1">
                                            <input type="hidden" name="id" th:value="${orderId}">
                                            <input class="billImage" accept="image/png, image/jpg, image/jpeg"
                                                   name="file"
                                                   type="file"
                                                   id="billImg1">
                                            <div>
                                                <button type="submit" id="btn1"
                                                        class="btn btn-sm btn-success mt-1 ImgSubmitBtn" disabled>Upload
                                                </button>
                                            </div>
                                            <div class="mt-1">
                                                <p><a target="_blank" href="https://www.freecodecamp.org/">Check
                                                    Uploaded</a></p>
                                            </div>
                                        </form>
                                    </td>
                                    <td style="width: 25%">
                                        <form class="payform" id="form1">
                                            <input type="hidden" name="id" th:value="${orderId}">
                                            <button type="submit" class="btn btn-info">Pay</button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="" style="width: 25%">2021-Mar-21</th>
                                    <td class="col-6"
                                        style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis; width: 60%;">
                                        <form th:action="@{/uploadBillImg}" class="mt-1 uploadImgForm" method="post"
                                              enctype="multipart/form-data"
                                              id="uploadImgForm3">
                                            <input type="hidden" name="id" th:value="${orderId}">
                                            <input class="billImage" accept="image/png, image/jpg, image/jpeg"
                                                   name="file"
                                                   type="file"
                                                   id="billImg3">
                                            <div>
                                                <button type="submit" id="btn3"
                                                        class="btn btn-sm btn-success mt-1 ImgSubmitBtn" disabled>Upload
                                                </button>
                                            </div>
                                            <div class="mt-1">
                                                <p><a target="_blank" href="https://www.freecodecamp.org/">Check
                                                    Uploaded</a></p>
                                            </div>
                                        </form>
                                    </td>
                                    <td style="width: 25%">
                                        <form class="payform" id="form2">
                                            <input type="hidden" name="id" th:value="${orderId}">
                                            <button type="submit" class="btn btn-info">Pay</button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="" style="width: 15%">2021-Mar-22</th>
                                    <td class="col-6"
                                        style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis; width: 60%;">
                                        <!--                                        <form th:action="@{/uploadImg}" class="mt-1 uploadImgForm" method="post"-->
                                        enctype="multipart/form-data" id="uploadImgForm2"
                                        >
                                        <input type="hidden" name="id" th:value="${orderId}">
                                        <input class="billImage" accept="image/png, image/jpg, image/jpeg" name="file"
                                               type="file"
                                               id="billImg2"
                                        >
                                        <div>
                                            <button type="submit" id="btn2" disabled
                                                    class="btn btn-sm btn-success mt-1 ImgSubmitBtn">
                                                Upload
                                            </button>
                                        </div>
                                        <div class="mt-1">
                                            <p>No Image</p>
                                        </div>
                                        </form>
                                    </td>
                                    <td style="width: 25%">
                                        <form class="payform" id="form3">
                                            <input type="hidden" name="id" th:value="${orderId}">
                                            <button type="submit" disabled class="btn btn-info">Paid</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--info-->
            <div class="row box-border p-3 col-12 col-md-4 col-order-2 mt-5">
                <div class="col-md-6 col-12 rounded p-1 order-1 order-md-1">
                    <div class="col-12"><h3 id="buildingName">Parkhill</h3></div>
                    <div class="col-12 mt-3"><h4>Start Date</h4>
                        <text id="startDate" class="font-weight-normal">2022-Mar-21</text>
                    </div>
                    <div class="col-12 mt-2"><h4>End Date</h4>
                        <text id="endDate" class="font-weight-normal">2022-Mar-21</text>
                    </div>
                    <div class="col-12 mt-2"><h4>Rental:</h4>
                        <text class="font-weight-normal" id="rental">RM4500</text>
                    </div>
                    <div class="col-12 mt-2"><h4>Tenant Name</h4>
                        <text class="font-weight-normal" id="tenantName">Derric</text>
                    </div>
                    <div class="col-12 mt-2"><h4>Tenant Phone:</h4>
                        <text class="font-weight-normal" id="tenantPhone">09897998</text>
                    </div>
                    <div class="col-12 mt-2"><h4>Owner Name</h4>
                        <text class="font-weight-normal" id="ownerName">Derric</text>
                    </div>
                    <div class="col-12 mt-2"><h4>Owner Phone:</h4>
                        <text class="font-weight-normal" id="ownerPhone">09897998</text>
                    </div>
                    <div class="col-12 mt-2">

                        <button type="button" style="color: white" class="btn btn-warning mt-1"
                                data-toggle="modal" data-target="#modal1">
                            Agreement
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="modal1" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Agreement</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <pre id="agreement"></pre>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--modal end-->
                    </div>
                </div>
                <div class="col-md-8 col-8 my-1 order-2 order-md-2">


                </div>

            </div>

            <!--            </form>-->
        </div>
        <!--body end-->
        <!--footer-->
        <div class="footerpage"></div>
        <!--footer over-->

        <!--script-->
        <script>
            $(function () {
                $(".headerpage").load("header.html");
                $(".footerpage").load("footer.html");
            });

        </script>
        <script>
            var host = window.location.host;
            console.log("domain------------------" + host)
            host = host + "/"
            var orderId = $("#orderId").html();
            var allBillContent = "";
            $.when(
                $.get("findOrderDetailsById?id=" + orderId, {}, function (data) {
                    console.log(data);
                    if(data!=null){
                        for (var i = 0; i < data.length; i++) {
                            var billContent = "<tr>\n" +
                                "                                    <th class=\"\" style=\"width: 25%\">" + data[i].month + "</th>\n" +
                                "                                    <td style=\"width: 50%\" class=\"col-6\"\n" +
                                "                                        style=\"overflow:hidden;white-space:nowrap;text-overflow:ellipsis; width: 60%;\">\n"

                            if (data[i].billImgUrl === "0") {
                                billContent += "                                            <div class=\"mt-1\">\n" +
                                    "                                                <p>No Image</p>\n" +
                                    "                                            </div>\n"
                            } else {
                                billImageUrl1 = data[i].billImgUrl;
                                billContent += "                                            <div class=\"mt-1\">\n" +
                                    "                                                <p><a target=\"_blank\" href=\"" + billImageUrl1 + "/\">Check Uploaded</a></p>\n" +
                                    "                                            </div>\n"
                            }

                            billContent += "                                        </form>\n" +
                                "                                    </td>\n" +
                                "                                    <td style=\"width: 25%\">\n" +
                                "                                        <form class=\"payform\" id=\"form" + i + "\">\n" +
                                "                                            <input type=\"hidden\" name=\"id\" value=\"" + data[i].detailsId + "\">\n"
                            if (data[i].rentStatus === 1) {
                                billContent += "                                            <a href='#'  class=\"btn btn-sm btn-info\">Paid</a>\n"
                            } else if (data[i].rentStatus === 0) {
                                billContent += "                                            <a href='#'  style='color: white' class=\"btn btn-sm btn-warning\">Unpaid</a>\n"
                            } else if (data[i].rentStatus === 2) {
                                billContent += "                                            <a href='#'   class=\"btn btn-sm btn-danger\">Cancelled</a>\n"
                            }

                            billContent +=
                                "                                    </td>\n" +
                                "                                </tr>"
                            allBillContent += billContent;
                        }
                    } else {
                        alert("Please Login！")
                        location.href="login.html";
                        return;
                    }
                    $("#billContent").html(allBillContent);


                    $.get("findOrderInfoById?id=" + orderId, {}, function (data) {
                        if (data!=null){
                            $("#startDate").html(data.startDate);
                            $("#endDate").html(data.endDate);
                            $("#rental").html("RM: " + data.rental);
                            $("#ownerName").html(data.ownerName);
                            $("#ownerPhone").html(data.ownerPhone);
                            $("#tenantName").html(data.tenantName);
                            $("#tenantPhone").html(data.tenantPhone);
                            $("#agreement").html(data.agreement);
                        } else {
                            alert("Please Login")
                            location.href = "login.html"
                        }


                    })
                }))
        </script>
    </body>
</html>